
1 VERSIONINFO
FILEVERSION 4,1,0,0
PRODUCTVERSION 4,1,0,0
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "041103A4"
	{
    VALUE "Comments", "フリーソフトです"
    VALUE "CompanyName", ""
    VALUE "FileDescription", "フリーソフトです"
		VALUE "FileVersion", "4.1.0.0"
		VALUE "LegalCopyright", "INOUE, masahiro"
		VALUE "OriginalFilename", "kakuyomudl.exe"
		VALUE "ProductName", "カクヨムテキストダウンローダー"
		VALUE "ProductVersion", "4.1"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0411 0x03A4  
}
}
